<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <title>Pocket Article Exporter</title>
  </head>
  <body>
    <div class="container">
      <h1>Error</h1>
      <span><%= error_message %></span>
      <br>
      <a class="button" href="/" aria-label="Back to home page"><span>Home Page</span></a>    </div>
  </body>
</html>
