<!DOCTYPE html>
<html>
  <head>
    <title>Pocket Authorization</title>
  </head>
  <body>
    <h1>Pocket Authorization</h1>
    <form method="post" action="/authorize">
      <button type="submit">Authorize with Pocket</button>
    </form>
  </body>
</html>
