<!DOCTYPE html>
<html>
  <head>
    <title>Pocket Authorization Success</title>
  </head>
  <body>
    <h1>Pocket Authorization Success</h1>
    <p>Access Token: <%= access_token %></p>
  </body>
</html>
