<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <title>Pocket Article Exporter</title>
  </head>
  <body>
    <div class="container">
      <h1>Access Token Generated!</h1>
      <span>Your access token is: <%= access_token %></span>
      <button class="button" id="copy-token-btn">Copy token to clipboard</button>
      <a class="button" href="/" aria-label="Back to home page"><span>Home Page</span></a>
      <a class="button" href="/article_list" aria-label="View the list of articles"><span>View Articles</span></a>
    </div>
    <script>
      const copyTokenBtn = document.querySelector('#copy-token-btn');
      copyTokenBtn.addEventListener('click', () => {
        navigator.clipboard.writeText('<%= access_token %>')
          .then(() => {
            console.log('Access Token copied to clipboard');
            alert('Access Token copied to clipboard');
          })
          .catch((err) => {
            console.error('Failed to copy Access Token: ', err);
            alert('Failed to copy Access Token');
          });
      });
    </script>
  </body>
</html>
