/* Dracula Theme */
:root {
  --background: #282a36;
  --background2: #44475a;
  --foreground: #f8f8f2;
  --blue: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
}

/* General Styles */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 1em;
}

hr {
  width: 100%;
  margin: 20px 0;
}

a {
  color: var(--yellow);
  text-decoration: none;
  margin-bottom: 10px;
}

a:hover {
  text-decoration: underline;
  color: var(--pink);
}

#container {
  background-color: var(--background2);
  border-radius: 4px;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

#title {
  text-align: center;
  margin-bottom: 1em;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#links-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#links-wrapper a {
  background-color: var(--blue);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  background-color: var(--purple);
  display: block;
  border: none;
  color: var(--foreground);
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.2s;
  cursor: pointer;
}

.button:hover {
  color: inherit;
  background-color: var(--pink);
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.menu-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin-right: 10px;
}

.menu-list li:last-child {
  margin-right: 0;
}

#token-wrapper {
  display: flex;
  align-items: center;
}

#access-token {
  color: var(--yellow);
  font-family: monospace;
  background-color: var(--background);
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
}

#copy-token-btn {
  display: inline-block;
  color: var(--foreground);
  font-size: 0.8rem;
  font-weight: bold;
  padding: 5px;
  max-width: 25px;
  max-height: 25px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.2s;
  cursor: pointer;
}

#article-list li {
  margin-bottom: 1em;
  width: 100%;
}

.article-wrapper a {
  font-weight: bold;
}

.article-meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  margin: 5px 2em 5px 5px;
}

.article-date {
  font-size: 0.8rem;
  color: var(--cyan);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: 1em;
}

.tag {
  background-color: var(--blue);
  color: var(--foreground);
  font-size: 0.8rem;
  padding: 5px;
  margin-right: 5px;
  border-radius: 4px;
}

#modal {
  display: none;
  flex-direction: column;
  align-items: center;
}

#modal p {
  color: var(--foreground);
}

.sk-flow-dot {
  background-color: var(--foreground) !important;
}
